:root {
  --bgColor: rgb(30, 30, 30);
  --textPrimary: rgb(200, 200, 200);
  --fontSecondary: "Inter", sans-serif;;
}

.root-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--bgColor);
}

a {
  cursor: pointer;
}

p {
  font-family: "Roboto", Arial;
  margin: 0;
}

.root-content {
  padding-left: 100px;
  padding-right: 100px;
  flex-shrink: 0;
}

.main-content {
  opacity: 1;
  transition: scale 0.2s ease-out, opacity 0.2s ease-out;
}

@media (prefers-color-scheme: light) {
  :root {
  --bgColor: rgb(222,222,222);
  --textPrimary: rgb(76, 76, 76);
  }

}

@media (max-width: 768px) {
  
  a {
    cursor: default;
  }

  .project-card {
    scale: 1.05;
  }

  .project-container {
    margin-top: 10px;
  }
}