.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.icon-jun {
  width: 100px;
  height: 100px;
  fill: var(--textPrimary);
  object-fit: contain;
}