.header {
  width: 100%;
  background-color: transparent;
  z-index: 1600;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  padding: 0 40px;
}

.header-placeholder {
  width: 50px;
}

.icon-jun {
  margin: 0;
  width: 50px;
  height: 50px;
  fill: var(--textPrimary);
  object-fit: contain;
  justify-content: flex-start;
  opacity: 0;
}

@media (max-width: 768px) {
  .icon-jun {
    width: 40px;
    height: 40px;
  }

  .header {
    margin-top: 10px;
  }

  .header-placeholder {
    width: 30px;
  }
}