.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1600;
  background-color: var(--bgColor);
}

.icon-jun {
  width: 100px;
  height: 100px;
  fill: white;
  object-fit: contain;
}

@media (prefers-color-scheme: light) {
  .icon-jun {
    fill: var(--textPrimary);
  }
}