nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px 40px;
}

nav button {
    color: var(--textPrimary);
    text-decoration: none;
    border: none;
    background: transparent;
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav button.active {
    background: var(--textPrimary);
    color: #000;
}

nav button:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
}

nav.hidden {
  opacity: 0;
}

@media (max-width: 1024px) {
  nav {
    padding: 25px 30px;
  }
}

@media (max-width: 768px) {
  nav {
    display: none; 
  }

}

