.projects-header-container {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.projects-header {
  font-size: 50px;
  color: var(--textPrimary);
  font-weight: 100;
}

.project-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  margin: 0;
}

.project-card {
  z-index: 1001;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(145, 145, 145, 0.3);
}

.project-info {
  margin: 3px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 0 2px 2px;
}

.project-date {
  color: var(--textPrimary);
  font-size: 10px;
  opacity: 0.5;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 2px;
}

.project-title {
  font-family: var(--fontSecondary);
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 2px;
}

.project-description {
  color: var(--textPrimary);
  opacity: 0.5;
  font-size: 10px;
  font-weight: 200;
  line-height: 1.2;
}

.project-title-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--textPrimary);
    opacity: 0.9;
  }
}

.project-card:hover {
  transform: scale(1.01);
}

.project-card:active {
  transform: translateY(3px);
}


@media (max-width: 1439px) {
  .project-container {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media (max-width: 1024px) {
  .project-container {
    grid-template-columns: 1fr 1fr ;
  }

}

@media (max-width: 767px) {

  .project-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .thumbnail {
    height: 200px;
  }

  .project-card {
    scale: 0.95;
  }

  .project-card {
    cursor: auto;
  }
}
