.project-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  margin: 0;
}

.project-card {
  z-index: 1001;
  width: 300px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #37393b, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #37393b, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 30px;
  border: 1px solid rgba(142, 142, 142, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.thumbnail {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.095);
}

.project-info {
  margin: 6px;
  margin-bottom: 10px;
}

.project-date {
  color: var(--textPrimary);
  font-size: 10px;
  opacity: 0.5;
  font-style: italic;
}

.project-title {
  font-family: var(--fontSecondary);
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 800;
}

.project-description {
  color: var(--textPrimary);
  opacity: 0.5;
  font-size: 10px;

}

.project-title-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--textPrimary);
    opacity: 0.9;
  }
}

.project-card:hover {
  transform: scale(1.01);
}

.project-card:active {
  transform: translateY(3px);
}


@media (max-width: 1439px) {
  .project-container {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media (max-width: 1024px) {
  .project-container {
    grid-template-columns: 1fr 1fr ;
  }

}

@media (max-width: 767px) {
  /* .project-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } */

  .project-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .project-card {
    scale: 0.95;
  }

  .project-card {
    cursor: auto;
  }
}

/* @media (prefers-color-scheme: light) {
  .project-card {
    background: #DCDDE0;
    background: -webkit-linear-gradient(to bottom, #F3F5F6, #DCDDE0);
    background: linear-gradient(to bottom, #F3F5F6, #DCDDE0); 
  }
} */
