:root {
  --bgColor: rgb(30, 30, 30);
  --textPrimary: rgb(200, 200, 200);
}

.root-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background-color: var(--bgColor);
}

body {
  height: 100%;
  width: 100vw;
  margin: 0;
}

p {
  font-family: "Roboto", Arial;
  margin: 0;
}

.root-content {
  padding-left: 100px;
  padding-right: 100px;
  flex-shrink: 0;
}

.main-content {
  opacity: 1;
  transition: scale 0.2s ease-out, opacity 0.2s ease-out;
}

.main-content.page-exit {
  scale: 0.99;
  opacity: 0;
}


@media (prefers-color-scheme: light) {
  :root {
  --bgColor: rgb(200, 200, 200);
  --textPrimary: rgb(30, 30, 30);
  }
}

@media (max-width: 768px) {
  a {
    cursor: default;
  }
}