.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.icon-jun {
  width: 100px;
  height: 100px;
  fill: var(--textPrimary);
  object-fit: contain;
}